div#audio {
  position: absolute;
  bottom: 20px;
  width: 22.419vh;
  height: "6.25vh";
  background-color: #111;
  border-radius: 5px;
  border-left: 8px solid #880000;
  z-index: 11;
  scale: 0.9;
  right: 20px;
  transition: scale 0.2s, left 0.2s, border-left 0.2s, color 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 30%);
}

div#audio p {
  transition: color 0.2s;

  color: #888;
}
div#audio:hover p {
  color: white;
}
div#audio svg {
  opacity: 0.7;
  transition: opacity 0.2s;
}
div#audio:hover svg {
  opacity: 1;
}
div#audio:hover {
  scale: 1;
  color: white;

  border-left: 8px solid #aa0000;
}

div#audio button {
  all: unset;
}
