@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-super-mario-font-u");

body {
  background-color: #050505;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 5%);
  border-radius: 100px;
  margin-block: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 25%);
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255, 100%);
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
}

div#root,
div#root button,
div#root input,
p {
  font-family: "Signika";
  font-weight: 100;
  color: white;
}
p {
  font-size: 20px;
  margin-block: 0px;
}
div#root input,
div#root button {
  background-color: #15151500;
  transition: background-color 0.2s, border 0.2s, scale 0.2s;
  border: 2px solid #444;
  font-size: 22px;
  padding: 10px 20px;

  box-sizing: content-box;
  cursor: pointer;
  border-radius: 2px;
}
div#root input:hover,
div#root input:focus {
  outline: 0;
  border: 2px solid #777;
}
div#root button {
  scale: 0.92;
  padding: 10px 50px;
}
div#root button:hover {
  scale: 1;

  border: 2px solid #151515ff;
  background-color: #151515ff;
}
div#root button {
  outline: 0;
}

div#root h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 0px;
}
div#root h2 {
  font-size: 20px;
  text-align: center;
  margin-block: 0px;
  font-weight: 100;
  opacity: 0.5;
  translate: 0px 25px;
}
div#root h6 {
  font-size: 30px;
  font-weight: 100;
  opacity: 0.5;
  transition: opacity 0.2s;
  text-align: center;
  cursor: pointer;
}
div#root h6:hover {
  opacity: 1;
}
main div.room {
  width: 500px;
  background-color: #151515;

  display: flex;
  justify-content: space-around;
  transition: background-color 0.2s, opacity 0.2s, scale 0.2s;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 8px 20px;
  box-sizing: border-box;
  opacity: 0.7;
  background-color: #040404;
  border: 2px solid #222;
  scale: 0.98;
}
main div.room:hover {
  opacity: 1;
  scale: 1;
}

main div.room table {
  width: 100%;
}
main div.room table tr td {
  font-size: 20px;
}
main div.room table tr th {
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  opacity: 0.5;
}
main div.room table tr th:nth-child(1) {
  width: 10px;
}
main div.room table tr th:nth-child(3) {
  width: 11ch;
}

main div.room table tr td {
  opacity: 0.8;
}
main div.room:hover table tr td {
  opacity: 1;
}
main div.room table tr td:nth-child(2) {
  color: #ce9178;
}
main div.room table tr td:nth-child(1) {
  color: #b5cea8;
}
main div.room table tr td:nth-child(3) {
  color: #9cdcfe;
}

div.blocks {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  display: block;
  background-image: url(images/blocks.png);
  background-repeat: repeat;
  background-size: 100px 100px;
  z-index: 9;
}

div.blocks.header {
  top: 18px;
}
div.blocks.footer {
  bottom: 18px;
}
footer {
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}
header {
  background-color: black;
  top: 0;
  left: 0;
  min-height: 18px;
  min-width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
}

footer a {
  font-family: monospace;
  font-weight: 500;
  cursor: pointer;
}

progress {
  height: 3px;
  width: 500px;
}
div#root button.mini {
  padding: 4px 16px;
  font-size: 20px;
  line-height: -10px;
}

h3 {
  font-weight: 100;
  font-size: 20px;
  margin: 0px;
}
